@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
  }

  option:hover {
    cursor: pointer;
  }
}

@layer components {
  .scrollBarWidth::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }

  .scrollBarTrack::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  .scrollBarThumb::-webkit-scrollbar-thumb {
    background: #deebff;
    border-radius: 10px;
  }

  .backgroundGradient {
    background: linear-gradient(190deg, #ebf4fd, hsla(0, 0%, 100%, 0) 45%);
  }

  .backgroundGradientFlip {
    background: linear-gradient(-190deg, #ebf4fd, hsla(0, 0%, 100%, 0) 45%);
  }

  .blueCircleIconGradient {
    @apply bg-gradient-to-tr from-dark-blue via-medium-blue to-light-blue;
  }

  .orangeGradient {
    @apply bg-gradient-to-tr from-deep-orange via-medium-orange to-light-orange;
  }

  .blueGradient {
    @apply bg-gradient-to-tr from-dark-blue via-medium-blue to-light-blue;
  }

  .greenGradient {
    @apply bg-gradient-to-tr from-dark-green via-medium-green to-light-green;
  }

  .blueContainerGradient {
    @apply bg-gradient-to-tr from-medium-blue to-light-blue;
  }
}
